body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(160, 160, 160);
    margin: 0; 
    padding: 10px;
}

.nav-link:hover{
    color: rgb(164, 255, 146);
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-item{
    text-align: center;
    margin: 0 15px;
}

.landing-container{
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding-bottom: 25px;
    margin: 10px;
}

.header{
    font: 150% cursive;
    color: rgb(49, 49, 49);
}

.product-subtitle{
    font-size: 25px;
    color: rgb(82, 82, 82);
}

.hero-image{
    max-width: 1000px;
    border-radius:20px;
    margin: 10px;
}

.hero-text{
    position: absolute;
    top: 60%;
    left: 40%;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 10px;
}

.product-description{
    font-size: 15px ;
    color:rgb(73, 73, 73);
    margin: 30px;
}

.cta-button{
    color: white;
    background-color: rgb(74, 173, 74);
    border-radius:20px;
    padding: 10px;
    text-decoration: none;
}

.cta-button:hover{
    background-color: rgb(0, 88, 47);
    color: white;
}

.main-footer{
    color: white;
    padding: 10px;
    margin: 0;
    background-color: rgb(59, 59, 59);
    text-align: center;
}

.footer-links{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-link{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 15px;
}

.footer-link:hover{
    color: rgb(163, 163, 163);
    text-decoration: underline;
}